@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.lazy-load-image-background {
  width: auto !important;
  height: auto !important;
  object-fit: scale-down !important;
}
